body {
     background-image: url("../img/Backgound.jpg"); 
     margin: 0;
     padding: 5px;
     font-size: 1.5rem;
     height: 100%;
     color: white;
     display: grid;
     min-height: 100vh;
     grid-template-rows: auto 1fr auto;
}
/* -------------------- Top start -------------------- */
.top {
  width: 100%;
  height: 70px;
  background-image: url("../img/fire.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
.top img {
  position: absolute;
  right: 30px;
  height: 70px;
}
  .navigation {
    height: 70px;
    background-image: url("../img/fire.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
  }
  nav {
    float: left;
    width:100%;
  }
  .nav-menu {
    display:blocK;
    margin-top: 140px;
    border-radius: 0.5rem;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background:rgba(172, 172, 172, 0.2);
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a {
    font-size: 2rem;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  nav ul li a:hover {
    background: #2581dc;
    color: #ffffff;
  }
  nav ul li a:not(:only-child):after {
    padding-left: 5px;
    content: ' -';
  }
  .nav-submenu {
    width:auto;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: auto;
    display: none;
    border-radius: 0.5rem;
    background-image: url(../img/Backgound.jpg);
  }
  .nav-submenu li {
     width: 100%;
     white-space: nowrap;
  }
  .nav-movil {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;;
    height: 140px;
    width: 100%;
  }
  @media screen and (max-width: 999px) {
    .top{
      height: 140px;
    }
    .top img {
      position: absolute;
      right: 40%;
      height: 130px;
    }
    .navigation{
      background: transparent;
      height: 140px;
    }
    body{
      font-size: 1.5rem;
    }
    .nav-movil {
      display: block;
    }
  
    .nav-menu {
      display: none;
      margin-top: 140;
      width: 50%;
      position: absolute;
      border: 1px black solid;
      background-image: url(../img/Backgound.jpg);
    }
    
    .nav-menu li {
      float: none;
    }
    .nav-menu li a {
      padding: 20px;
      line-height: 40px;
      color: white;
    }
    .nav-menu li ul li a {
      padding-left: 30px;
    }
    
    .nav-submenu {
      position: static;
    }
  }
  @media screen and (min-width: 1000px) {
    .nav-menu {
      display: block !important;
      margin-top: 0;
      /* position: static; */
    }  
  }
  #nav-boton {
    position: absolute;
    left: 20px;
    top: 60px;
    cursor: pointer;
    width:75px;
    height: 40px;
    padding: 15px 5px 0 0px;
    z-index:1;
  }
  #nav-boton span,
  #nav-boton span:after,
  #nav-boton span:before {
    transition: all 500ms ease-in-out;
    border-radius: 1px;
    height: 10px;
    width: 80px;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
  }
  #nav-boton span:before {
    top: -20px;
  }
  #nav-boton span:after {
    bottom: -20px;
  }
  #nav-boton.activo span {
    background-color: transparent;
  }
  #nav-boton.activo span:before,
  #nav-boton.activo span:after {
    top: 0;
  }
  #nav-boton.activo span:after {
    transform: rotate(-45deg);
  }
  #nav-boton.activo span:before {
    transform: rotate(45deg);
  }
/* -------------------- Top end - Content start -------------------- */
.content {
  margin: 10px;
}
#contenthead {
  width: auto;
  height: 50px;
  border-radius: 0.5rem;
  background: rgba(172, 172, 172, 0.2);
  margin: auto;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
#contenthead h3 {
  height: 50px;
  width: auto;
  margin: auto;
  margin-top: 10px;
}

#article{
  width: auto;
  height: 300px;
  border-radius: 0.5rem;
  background: rgba(172, 172, 172, 0.2);
  margin: auto;
  padding: 5px;
  margin-bottom: 10px;
}
#articlei {
  width: auto;
  height: 1000px;
  border-radius: 0.5rem;
  background: rgba(172, 172, 172, 0.2);
  margin: auto;
  padding: 5px;
  margin-bottom: 10px;
}
#article img{
  width: auto;
  height: 300px;
  border-radius: 0.5rem;
  float: left;
  border: 1px black solid;
  margin-right: 5px;
}
#article h4{
  text-align: center;
  margin: 2px 0 2px 0;
}
#article div{
  height: 270px;
  overflow: hidden;
}
#article a{
  cursor: pointer;
  color: rgb(73, 223, 223);
  font-size: 1.5rem;
  margin-right: 10px;
  float: right;
}
/* -------------------- Content end - Bottom start -------------------- */

#bottom {
  width: auto;
  height: 50px;
  border-radius: 0.5rem;
  margin-top: auto;
  bottom: 0px;
  padding: 10px;
  text-align: center;
}
#bottom p {
  color: white;
  margin-top: 2px;
  font-size: 1rem;
}
#bottom img {
  width: 30px;
  margin: 0 20px 0 20px;
}
#bottom div {
  text-align: center;
  display: inline-block;
}
#bottom a {
  text-decoration: none;
}
/* -------------------- Bottom end -------------------- */